
.custom-box {
    border: 2px solid rgba(0, 0, 0, 0.15);
    padding: 20px 25px;
    margin: 15px 0;
    border-radius: 12px;
    background: linear-gradient(135deg, #fdfdfd, #f0f0f0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.custom-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
}


.btn {
    cursor: pointer; 
}

h1{
    text-align: center;
}