body{
    background-color: #223047;
}

header{
    background-image: url(image/background.svg);
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagePP{
    height: 35vh;
    border: solid 5px #223047;
    border-radius: 50%;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex
;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.333333%;
    max-width: 33.333333%;
}

.card{
    background-color: #2B4362;
    border: none;
}

.boxfooter{
    background-color: #2B4362;
    
}

html {
    scroll-behavior: smooth;
  }  

.bouton_top{
    background-color: #2B4362;
    border: none;
}

.bouton_top:hover {
    background-color: #223047; 
}

.bouton_milieu{
    background-color: #273B57;
    border: none;
}

.bouton_milieu:hover{
    background-color: #223047;
}


