.theme-originale .boutoncolor{
    background-color: #283F5D; 
    color: white;
}

.theme-bleu .boutoncolor{
    background-color: #85B6CC;
    color: white;
}


.theme-gris .boutoncolor{
    background-color: #D2D3D2;
    color: white;
}


.theme-vert .boutoncolor{
    background-color: #8AC988;
    color: white;
}


.theme-rouge .boutoncolor{
    background-color: #E8855E;
    color: white;
}


.theme-jaune .boutoncolor{
    background-color: #F7D457;
    color: white;
}


.theme-cyan .boutoncolor{
    background-color: #96D1D0;
    color: #2C2C2C;
}
.theme-cyan .titre{
    color: #2C2C2C;
}

.theme-blanc .boutoncolor{
    background-color: #E7E7E6;
    color: #2C2C2C;
}
.theme-blanc .titre{
    color: #2C2C2C;
}

.theme-blanc .flèche{
    color: #2C2C2C;
  }

.theme-noir .boutoncolor{
    background-color: #262726;
    border : 2px solid white;
    color: white;
}
.theme-noir .titre{
    color: white;
}