body{
    background-color: #223047;
    margin: 0;
}

header{
    background-image: url(image/background.svg);
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagePP{
    height: 35vh;
    border: solid 5px #223047;
    border-radius: 50%;
}