
header{
    background-image: url(image/background.svg);
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagePP{
    height: 35vh;
    border: solid 5px #223047;
    border-radius: 50%;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex
;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.333333%;
    max-width: 33.333333%;
}


html {
    scroll-behavior: smooth;
  }  

/* CORRIGÉ: theme-original */
.theme-originale .card {
    background-color: #283F5D;
    border: none;
    color: #ffffff;
  }
  
  .theme-originale .bouton_top {
    background-color: #293B56;
    border: none;
    color: #ffffff;
  }
  
  .theme-originale .bouton_top:hover {
    background-color: #25344D;
    border: none;
    color: #ffffff;
  }
  
  .theme-originale .bouton_milieu {
    background-color:  #273B57;
    border: none;
    color: #ffffff;
  }
  
  .theme-originale .bouton_milieu:hover {
    background-color: #223047;
    border: none;
    color: #ffffff;
  }
  
  .theme-originale .boxfooter {
    background-color: #2B4362;
    color: #ffffff;
  }

/* CORRIGÉ: theme-original */
.theme-originale .card {
    background-color: #2B4362;
    border: none;
    color: #ffffff;
  }
  
  .theme-originale .bouton_top {
    background-color: #273B57;
    border: none;
    color: #ffffff;
  }
  
  .theme-originale .bouton_top:hover {
    background-color: #223047;
    border: none;
    color: #ffffff;
  }
  
  .theme-originale .bouton_milieu {
    background-color: #223047;
    border: none;
    color: #ffffff;
  }
  
  .theme-originale .bouton_milieu:hover {
    background-color: #273B57;
    border: none;
    color: #ffffff;
  }
  
  .theme-rouge .boxfooter {
    background-color: #2B4362;
    color: #ffffff;
  }
  



  /* Ajoute les autres thèmes pareil : .theme-bleu, .theme-vert, etc. */
  

